<h1>Welcome#index</h1>
<p>##/TODO: how to make welcome/ auto redirected to welcome/index? Edit the routes.rb</p>

<%= link_to 'My blog', controller: 'articles' %>
<%= link_to 'Click to create new post', new_article_path %>
